/* ========== HEADER ========== */
#head{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    z-index: 999;
}

.closeMenu{
    display: none;
}
#head .nav-container{
    position: relative;
}
#head .nav-links{
    display: flex;
    list-style: none;
    gap: 2em;
    border-radius: 20px;
    padding: 0.8em 2em;
}

#head li a{
    transition: 0.3s;
}

#head li a:hover{
    color: var(--secondary);
}


@media (max-width: 650px) {
    #head{
        display: block;
        width: 45px;
        height: 2.5em;
        top: 1%;
        background-color: transparent;
        border-radius: 15px;
        transition: 0.5s;
        overflow: hidden;
    }
    
    #head.open{
        background-color: var(--secondary);
        width: 150px;
        height: 70%;
    }

    .closeMenu{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--button-bg);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 7px;
        right: 7px;
    }

    .closeMenu img{
        width: 70%;
        height: 70%;
    }
    #head .nav-links{
        display: block;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 3em 0 0 0;
    }

    #head li {
        margin: 0.5em 0.3em;

    }
    #head li a{
        font-size: small;
        display: block;
        background-color: var(--button-bg);
        height: 2em;
        border-radius: 14px;
        padding: 0 0.4em;
        width: 100%;
        color: var(--button-text);
        font-weight: 900;
    }
}


/* ========== HOME SECTION ========== */

#home{
    position: relative;
    width: 100%;
    min-height: 100%;
}

#home .D-desktop{
    position: absolute;
    object-fit: cover;
    object-position: right;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: -2;
    box-shadow: -6px 4px 20px 20px rgba(0, 0, 0, 0.2);
}

#home .home-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    width: 100%;
    z-index: 3;
}

#home .home-content h1{
    color: var(--text-heading);
    font-size: var(--h1-font-size);
}

#home .home-content p{
    color: var(--text-paragraph);
    font-size: var(--p-font-size);
    font-weight: 400;
    max-width: 60%;
}

#home .home-content a{
    background-color: var(--button-bg);
    padding: 0.5em 1em;
    border-radius: 13px;
    margin: 1em 0;
    color: var(--button-text);
    box-shadow: var(--shadow);
}


@media (max-width:600px) {
    #home .D-desktop{
        object-position: -50em;
    }
}


/* ========== ABOUT ========== */

#about{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 0 5em 0;
}

#about .container{
    position: absolute;
    padding: 2em;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5,20%);
    
}

#about .img-walk{
    margin-top: 20%;
    grid-row: 1/4;
    grid-column: 8/11;
}

#about .img-search{
    grid-row: 1/6;
    grid-column: 5/8;
    padding: 13% 0;
}

#about .img-thinking{
    grid-row: 3/6;
    grid-column: 2/5;
    margin-bottom: 20%;
}

#about figure{
    overflow: hidden;
}

#about img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}

#about video{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}


#about .about-content{
    margin: 15% 0 0 10%;
    grid-column: 1 / 4;
    grid-row: 1 / 4 ;
    display: flex;
    padding: 15% 0 0 0;
    flex-direction: column;
    text-align: end;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#about .about-content-tow{
    grid-column: 8/11;
    grid-row: 4/5;
    margin: 20% 0;
    text-align: end;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#about .about-content h2{
    font-weight: 900;
    font-size: var(--h2-font-size);
    color: var(--main);
    margin-bottom: 5%;
}

#about .about-content , .about-content-tow p{
    font-size: var(--p-font-size);
    font-weight: 400;
    line-height: 1.2rem;
    max-width: 600px;
    color: var(--secondary);
}

@media (max-width:840px) {
    #about .img-walk{
        margin-top: 20%;
        grid-row: 1/4;
        grid-column: 6/11;
    }

    #about .img-search{
        grid-row: 3/6;
        grid-column: 1/6;
        padding: 13% 0;
    }

    #about .img-thinking{
        display: none;
    }

    #about .about-content{
        margin: 15% 0 0 10%;
        grid-column: 1 / 5;
        grid-row: 2 / 3 ;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: end;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #about .about-content-tow{
        grid-column: 6/11;
        grid-row: 4/5;
        margin: 20% 0;
        text-align: end;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}


/* ========== programs ========== */

#programs{
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 10px 0;
}
#programs #filter_container{
    opacity: 0;
}
#programs .programs-head{
    width: 100%;
    height: 6em;
    text-align: center;
    color: var(--text-heading);
}

#programs .programs-cotent{
    margin: 0 auto 0 auto;
    width: 80%;
    height: 80%;
    border-radius: 30px;
}

#programs .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(min(100%,360px),1fr));
    grid-auto-rows: 300px;
    gap: 1em;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 5% 0 0 0;
    border-radius: 0 0 30px 30px;
}

#programs .programs-content-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5%;
}

#programs .programs-content-head ul{
    list-style-type: none;
    display: flex;
    gap: 1em;
    overflow: hidden;
}

#programs .programs-content-head ul button{
    background-color: var(--button-bg);
    color: var(--button-text);
    width: var(--button-size);
    font-size: var(--button-font-size);
    height: 35px;
    border-radius: 14px;
    font-weight: 900;
    transition: 0.5s;
}

#programs ul button:hover{
    background-color: var(--button-hover);
}


/* ========== whyUs ========== */

#whyUs{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    margin: 10em 0 3em 0;
}

#whyUs .whyUs-content{
    width: 90%;
    height: 90%;
}

#whyUs .conatiner{
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    width: 100%;
    height: 100%;
}

#whyUs .conatiner .card{
    height: 22em;
    border-radius: 3em;
    padding: 1.3em;
    text-align: end;
    opacity: 0;
}

#whyUs .conatiner .card h2{
    font-size: var(--card-main-font-size);
    color: var(--main-font-color-whyUs);
    font-weight: 900;
}
#whyUs .conatiner .card p{
    font-size: var(--card-paragraph-font-size);
    font-weight: 400;
    color: var(--secendery-font-color-whyUs);
    padding: 0 1em;
}

/* group one */
#whyUs .smail-card-whyUs{
    background: var(--smail-card-whyUs-Bg);
}

#whyUs .big-card-start{
    position: relative;
    background: var(--big-card-start-Bg);
}

#whyUs .big-card-start a{
    background: var(--smail-card-whyUs-Bg);
    position: absolute;
    bottom: 10%;
    left: 8%;
    padding: 0.6em 2.5em;
    font-size: clamp(0.7rem ,5vw ,1rem);
    border-radius: 15px;
    box-shadow: var(--shadow);
    transition: 0.3s;
}

#whyUs .big-card-start a:hover{
    transform: scale(1.05) translateY(-5px);
}
/* ------- */

/* group tow */
#whyUs .smail-card-course{
    background: var(--smail-card-course-Bg) ;
}

#whyUs .big-card-stats{
    background: var(--big-card-stats-Bg);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

#whyUs .big-card-stats .stat-card{
    border-radius: 1em;
    display: grid;
    grid-template-rows: 40% auto;
    text-align: center;
    align-items: center;
    padding: 7% 0 0 0;
    box-shadow: var(--shadow);
}


#whyUs .big-card-stats .stat-card strong{
    color: var(--stat-font-color-whyUs);
    font-size: var(--h2-font-size);
}
#whyUs .big-card-stats .stat-card h4{
    font-size: var(--h3-h4-font-size);
    color: var(--main-font-color-whyUs);
}
/* ------- */


@media (max-width:840px) {
    #whyUs{
        overflow: hidden;
    }

    #whyUs .conatiner .card{
        border-radius: 2em;
        height: 20em;
    }
    #whyUs .conatiner{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20em;
        gap: 1em;
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    #whyUs .big-card-stats .stat-card h4, strong{
        font-size: 0.7rem;
        font-weight: 400;
    }
}


/* ========== FAQ ========== */


#FAQ{
    width: 100%;
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#FAQ .faq-head{
    width: 100%;
    color: var(--text-heading);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

#FAQ .qustions-container{
    width: 90%;
    min-height: 100%;
    padding: 2% 0 5% 0;
    gap: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#FAQ .qustion{
    position: relative;
    border-radius: 10px;
    background: var(--qustion-Bg);
    width: 100%;
    height: 3.5em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 0 1em;
    transition: 0.4s;
}

#FAQ .qustion .qustion-content{
    width: 100%;
    gap: 0.5em;
    height: 3em;
    display: flex;
    align-items: center;
}

#FAQ .qustion .qustion-content h2{
    margin: 0 0.5em 0 0;
    font-size: var(--h3-h4-font-size);
    color: var(--text-heading);
}

#FAQ .qustion button{
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0,70, 67, 1);
    transition: 0.5s;
}

#FAQ .qustion.open{
    height: 7em;
}
#FAQ .qustion.open button{
    background-color: rgb(0,70, 67, 1);
} 

#FAQ .qustion.open p{
    display: block;
}

#FAQ .qustion p{
    display: none;
    position: absolute;
    top: 40px;
    color: var(--text-paragraph);
    font-size: var(--p-font-size);
}