#programs{
    position: relative;
    width: 100%;
    height: 100%;
}

#programs .programs-head{
    position: absolute;
    width: 100%;
    top: 5%;
    text-align: center;
    color: var(--text-heading);
}

#programs .programs-cotent{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 80%;
    height: 80%;
    border-radius: 30px;
}

#programs .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(360px,1fr));
    grid-auto-rows: 50%;
    gap: 1em;
    justify-items: center;
    width: 100%;
    height: 88%;
    margin: 2% 0 0 0;
    border-radius: 0 0 30px 30px;
}

#programs .programs-content-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5%;
}

#programs .programs-content-head ul{
    list-style-type: none;
    display: flex;
    gap: 1em;
    overflow: hidden;
}

#programs .programs-content-head ul button{
    background-color: var(--button-bg);
    color: var(--button-text);
    width: 100px;
    height: 35px;
    border-radius: 14px;
    font-weight: 900;
    transition: 0.5s;
}

#programs ul button:hover{
    background-color: var(--button-hover);
}

