#programs{
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 10px 0;
}

#programs .programs-head{
    width: 100%;
    margin: 5% 0;
    text-align: center;
    color: var(--text-heading);
}

#programs .programs-cotent{
    margin: 0 auto 0 auto;
    width: 80%;
    height: 80%;
    border-radius: 30px;
}

#programs .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(min(100%,360px),1fr));
    grid-auto-rows: 300px;
    gap: 1em;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 5% 0 0 0;
    border-radius: 0 0 30px 30px;
}

#programs .programs-content-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5%;
}

#programs .programs-content-head ul{
    list-style-type: none;
    display: flex;
    gap: 1em;
    overflow: hidden;
}

#programs .programs-content-head ul button{
    background-color: var(--button-bg);
    color: var(--button-text);
    width: var(--button-size);
    font-size: var(--button-font-size);
    height: 35px;
    border-radius: 14px;
    font-weight: 900;
    transition: 0.5s;
}

#programs ul button:hover{
    background-color: var(--button-hover);
}

/* @media (max-width:) {
    
} */