#FAQ{
    width: 100%;
    min-height: 100%;
}

#FAQ .faq-head{
    width: 100%;
    color: var(--text-heading);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

#FAQ .qustions-container{
    width: 90%;
    height: 90%;
    gap: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#FAQ .qustion{
    position: relative;
    border-radius: 10px;
    background: var(--qustion-Bg);
    width: 100%;
    height: 7%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    direction: rtl;
    padding: 0 1em;
    transition: 0.4s;
}

#FAQ .qustion .qustion-content{
    height: 3em;
    width: 100%;
    gap: 0.5em;
    position: relative;
    display: flex;
    align-items: center;
}

#FAQ .qustion .qustion-content h2{
    margin: 0 0.5em 0 0;
    font-size: var(--h3-h4-font-size);
    color: var(--text-heading);
}

#FAQ .qustion button{
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0,70, 67, 1);
    transition: 0.5s;
}

#FAQ .qustion.open{
    height: 20%;
}
#FAQ .qustion.open button{
    background-color: rgb(0,70, 67, 1);
} 

#FAQ .qustion.open p{
    display: block;
}

#FAQ .qustion p{
    display: none;
    position: absolute;
    top: 40%;
    right: 2em;
    color: var(--text-paragraph);
    font-size: var(--p-font-size);
}