#FAQ{
    width: 100%;
    height: 100%;
}

#FAQ .faq-head{
    top: 10%;
    width: 100%;
    height: 15%;
    color: var(--text-heading);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

#FAQ .qustions-container{
    width: 90%;
    height: 90%;
    gap: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#FAQ .qustion{
    position: relative;
    border-radius: 10px;
    background: var(--qustion-Bg);
    width: 100%;
    height: 7%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    text-align: end;
    direction: rtl;
    padding: 0 1em;
    transition: 0.4s;
}

#FAQ .qustion .qustion-content{
    margin: 0.5% 3% 0 0;
    display: flex;
    flex-direction: column;
}

#FAQ .qustion .qustion-content h2{
    text-align: start;
    width: 100%;
    font-size: var(--h2-font-size);
    color: var(--text-heading);
}

#FAQ .qustion button{
    position: absolute;
    top: 14px;
    background-color: transparent;
}

#FAQ .qustion.open{
    height: 20%;
}

#FAQ .qustion button img{
    transform: rotate(-90deg);
}

#FAQ .qustion.open p{
    display: block;
}

#FAQ .qustion p{
    display: none;
    color: var(--text-paragraph);
    font-size: var(--p-font-size);
}