#head{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    z-index: 999;
}
/* #head .nav-container{
    margin: 0 0 0 8%;
} */
#head .nav-links{
    display: flex;
    list-style: none;
    gap: 2em;
    border-radius: 20px;
    padding: 0.8em 2em;
}

#head li a{
    transition: 0.3s;
}

#head li a:hover{
    color: var(--secondary);
}
