#head{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    z-index: 999;
}

.closeMenu{
    display: none;
}
#head .nav-container{
    position: relative;
}
#head .nav-links{
    display: flex;
    list-style: none;
    gap: 2em;
    border-radius: 20px;
    padding: 0.8em 2em;
}

#head li a{
    transition: 0.3s;
}

#head li a:hover{
    color: var(--secondary);
}


@media (max-width: 650px) {
    #head{
        display: block;
        width: 45px;
        height: 5%;
        top: 1%;
        background-color: transparent;
        border-radius: 15px;
        transition: 0.5s;
        overflow: hidden;
    }
    
    #head.open{
        background-color: var(--secondary);
        width: 150px;
        height: 70%;
    }

    .closeMenu{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--button-bg);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 7px;
        right: 7px;
    }

    #head .nav-links{
        display: block;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 3em 0 0 0;
    }

    #head li {
        margin: 0.5em 0.3em;

    }
    #head li a{
        font-size: small;
        display: block;
        background-color: var(--button-bg);
        height: 2em;
        border-radius: 14px;
        padding: 0 0.4em;
        width: 100%;
        color: var(--button-text);
        font-weight: 900;
    }
}