#home{
    position: relative;
    width: 100%;
    min-height: 100%;
}

#home .D-desktop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: -2;
    box-shadow: -6px 4px 20px 20px rgba(0, 0, 0, 0.2);
}

#home .home-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    width: 100%;
    z-index: 3;
}

#home .home-content h1{
    color: var(--text-heading);
    font-size: var(--main-text-size);
}

#home .home-content p{
    color: var(--text-paragraph);
    font-size: clamp(0.4rem ,10vw, 0.8rem);
    max-width: 60%;
}

#home .home-content a{
    background-color: var(--button-bg);
    padding: 0.5em 1em;
    border-radius: 13px;
    margin: 1em 0;
    color: var(--button-text);
    box-shadow: var(--shadow);
}
