#home{
    position: relative;
    width: 100%;
    min-height: 100%;
}

#home .img-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: inset(45% 45% 45% 45%);
    will-change: clip-path;
    transition: 0.5s;
    z-index: 0;
}

#home .img-bg .D-desktop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    z-index: 1;
}

#home .home-content{
    position: absolute;
    top: 50%;
}