@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    /* مجموعه اولى */
  --color-primary: #3A6EA5;
  --color-secondary: #6FB1A0;
  --color-accent: #F2B705;
  --color-bg: #F6F8FA;
  --color-text: #1F2933;

    /* مجموعه ثانيه */
    /* Elements */
  --bg-dark: #004643;
  --text-heading: #ffffff;
  --text-paragraph: #abd1c6;
  --button-text: #001e1d;
  --button-bg: #f9bc60;
  --bg-light: #f8faf9;

  /* Illustration */
  --stroke: #001e1d;
  --main: #e8e4e6;
  --highlight: #f9bc60;
  --secondary: #abd1c6;
  --tertiary: #e16162;
}

a {
    text-decoration: none;
    color: var(--text-heading);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

body {
    background-color: var(--bg-dark);
    width: 100%;
    height: 100vh;
}

#hero {
    width: 100%;
    height: 100%;
}