#whyUs{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    margin: 30% 0 10% 0;
}

#whyUs .whyUs-content{
    width: 90%;
    height: 90%;
}

#whyUs .conatiner{
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    width: 100%;
    height: 100%;
}

#whyUs .conatiner .card{
    height: 22em;
    border-radius: 3em;
    padding: 1.3em;
    text-align: end;
}

#whyUs .conatiner .card h2{
    font-size: var(--card-main-font-size);
    color: var(--main-font-color-whyUs);
    font-weight: 900;
}
#whyUs .conatiner .card p{
    font-size: var(--card-paragraph-font-size);
    font-weight: 400;
    color: var(--secendery-font-color-whyUs);
    padding: 0 1em;
}

/* group one */
#whyUs .smail-card-whyUs{
    background: var(--smail-card-whyUs-Bg);
}

#whyUs .big-card-start{
    position: relative;
    background: var(--big-card-start-Bg);
}

#whyUs .big-card-start a{
    background: var(--smail-card-whyUs-Bg);
    position: absolute;
    bottom: 10%;
    left: 8%;
    padding: 0.6em 2.5em;
    font-size: clamp(0.7rem ,5vw ,1rem);
    border-radius: 15px;
    box-shadow: var(--shadow);
    transition: 0.3s;
}

#whyUs .big-card-start a:hover{
    transform: scale(1.05) translateY(-5px);
}
/* ------- */

/* group tow */
#whyUs .smail-card-course{
    background: var(--smail-card-course-Bg) ;
}

#whyUs .big-card-stats{
    background: var(--big-card-stats-Bg);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

#whyUs .big-card-stats .stat-card{
    border-radius: 1em;
    display: grid;
    grid-template-rows: 40% auto;
    text-align: center;
    align-items: center;
    padding: 7% 0 0 0;
    box-shadow: var(--shadow);
}


#whyUs .big-card-stats .stat-card strong{
    color: var(--stat-font-color-whyUs);
    font-size: var(--h2-font-size);
}
#whyUs .big-card-stats .stat-card h4{
    font-size: var(--h3-h4-font-size);
    color: var(--main-font-color-whyUs);
}
/* ------- */


@media (max-width:840px) {
    /* #whyUs{
        margin: 10%;
    } */

    #whyUs .conatiner .card{
        border-radius: 2em;
        height: 20em;
    }
    #whyUs .conatiner{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20em;
        gap: 1em;
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    #whyUs .big-card-stats .stat-card h4, strong{
        font-size: 0.7rem;
        font-weight: 400;
    }
}